a = "allo"
b = "allo"

match a
    case 0
        print("a")
    case 1
        print("b")
    case "allo"
        print("c")
    case _
        print("d")
end
