fn sq(a, b)
    fn test(a, b)
        print(a + ' | ' + b)
        
        fn abc(a, b)
            return 9
        end
    end

    fn ghj(a, b)
        return 9
    end

    test(a, b)

    return a * b
end

fn testk(a, b)
    print(a + ' | ' + b)
    
    fn abck(a, b)
        return 9
    end
end

b = sq(5, 6)
